<%- include('../_header', { title: article.title }) %>

    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

    <div>
        <!-- The - converts the content to raw html as opposed to = which converts to string %> -->
        <%- article.sanitizedHtml %>  
    </div>

<%- include('../_footer') %>